@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Tangerine:wght@400;700&display=swap');

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

/* Countdown animation */
.countdown{
  background-image: url('../src/images/countbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.times{
  background-color: rgba(0, 0, 0, 0.6);
}